<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Charts.WinForms" version="1.1.5" targetFramework="net46" />
  <package id="Bunifu.Dataviz.WinForms" version="2.2.1" targetFramework="net46" />
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net46" />
  <package id="cef.redist.x64" version="99.2.12" targetFramework="net46" />
  <package id="cef.redist.x86" version="99.2.12" targetFramework="net46" />
  <package id="CefSharp.Common" version="99.2.120" targetFramework="net46" />
  <package id="CefSharp.WinForms" version="99.2.120" targetFramework="net46" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net46" />
  <package id="Svg" version="2.4.3" targetFramework="net46" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net46" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net46" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net46" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net46" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net46" />
</packages>